<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>136335393741-g0vvcpghjc3lat4679t33ip8ik7snb1e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.136335393741-g0vvcpghjc3lat4679t33ip8ik7snb1e</string>
	<key>API_KEY</key>
	<string>AIzaSyBzEksltB0uSaiqp3RhGFM2f10ybSxdLzA</string>
	<key>GCM_SENDER_ID</key>
	<string>136335393741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Prajjwal.Statistia</string>
	<key>PROJECT_ID</key>
	<string>statistia-b8450</string>
	<key>STORAGE_BUCKET</key>
	<string>statistia-b8450.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:136335393741:ios:dd57cb935d2cf42dcd7a84</string>
</dict>
</plist>